{% extends "base.html" %}

{% block title %}
    <title>Recuperar contraseña - EUS</title>
    <meta property="og:title" content="EUS - Egresados Universidad de Sucre"/>
{% endblock %}

{% block content %}
    <div class="container container--flex-column" style="justify-content: center; align-items: center">
        {% if error %}
            <p class="login__error">
                ERROR:<br>
                Correo electrónico inexistente.
            </p>
        {% endif %}
        <form class="login__form" action="{{ url_for('users.recover_password') }}" method="post">
            {{ form.hidden_tag() }}
            <h1 class="login__title">
                Recuperar contraseña
            </h1>
            <div class="form__input-container">
                <svg class="form__input-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     width="1024" height="1024" viewBox="0 0 1024 1024">
                    <path fill="#abadbb" d="M226.462 349.538l25.846-25.846 275.692 236.308 275.692-236.308 25.846 25.846-301.538 258.462-301.538-258.462zM192.115 256c-35.41 0-64.115 28.624-64.115 63.81v384.38c0 35.241 28.472 63.81 64.115 63.81h671.77c35.41 0 64.115-28.624 64.115-63.81v-384.38c0-35.241-28.472-63.81-64.115-63.81h-671.77z"></path>
                </svg>
                {{ form.email(class_="form__input-box", type="email", placeholder="Correo electrónico") }}
            </div>
            <input class="form__submit" type="submit" value="Enviar correo" onclick="$('.loading-screen').show();">
        </form>
    </div>
{% endblock %}